<% @customers.each do |customer| %>
<h2><%= customer.street_address %></h2>
<h2><%= customer.city_state_zip %>
	<% if customer.customer_median_tip.present? %>
	<% if customer.customer_median_tip.dollar >= 5 %>
	<span class="badge">BIG TIPPER</span>
	<% end %>
	<% end %>
</h2>

<%= link_to "View Customer", customer_path(customer), class: "btn btn-default"%>
</br>
</br>
</br>
<% end %>