<div class="col-md-8 indexLeftContent">
<% @customers.each do |customer| %>
<ul class="list-group navList">
<li class="list-group-item"><h4><%= customer.street_address %></h4>
<h4><%= customer.city_state_zip %></h4>
	<% if customer.customer_median_tip.present? %>
	<% if customer.customer_median_tip.dollar >= 5 %>
	<span class="badge">BIG TIPPER</span>
	<% end %>
	<% end %>
	<%= link_to "View Customer", customer_path(customer), class: "btn btn-default"%>
</li>
</ul>

</br>
<% end %>
</div>
 <div class="col-md-4" id="right-content">
          <span>Find Customer</span>
          <!-- <input type="text" id="filterCustomer" class="form-control" placeholder="Begin typing address..."> -->
          <%= text_field_tag 'searchKeywords', nil, placeholder: 'Begin typing an address...', size: "50" %>  
 </div>


